<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Papapa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- css -->
  <link href="css/bootstrap.min.css" async rel="stylesheet" />
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700">
  <link rel="stylesheet" defer href="simple-line-icons/css/simple-line-icons.css">
  <link href="css/fancybox/jquery.fancybox.css" defer rel="stylesheet">
  <link href="css/flexslider.css" defer rel="stylesheet" />
  <link href="js/owl-carousel/owl.carousel.css" defer rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" integrity="sha512-nIm/JGUwrzblLex/meoxJSPdAKQOe2bLhnrZ81g5Jbh519z8GFJIWu87WAhBH+RAyGbM4+U3S2h+kL5JoV6/wA==" crossorigin="anonymous" / defer>
  <link rel="stylesheet" type="text/css" defer href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link href="css/style.css" rel="stylesheet" / defer>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" defer>
  <link rel="icon" href="img/favicon.ico" type="image/x-icon" defer>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
  <div id="wrapper" class="home-page">
    <!-- start header -->
    <header>
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="img/logo2.jpg" alt="logo" /></a>
          </div>
          <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
              <li><a href="/" class="nav-item">Home</a></li>
              <!-- <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Company</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Investors</a></li>
                </ul>
              </li> -->
              <li><a href="/about" class="nav-item">About</a></li>
              <li><a href="/services" class="nav-item">Services</a></li>
              <!-- <li><a href="/career" class="nav-item">Career Opportunities</a></li> -->
              <li><a href="/contact" class="nav-item">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>