<%- include ('partials/header') %>

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="">

		<div class="about">

			<section class="features">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div>
								<h2>INDEPENDENT AGENCY PAYMENTS PLATFORM</h2>
								<p>P.I.A is the trade name for Agent locations (Papapa Independent Agent). It’s a one-stop shop where
									all
									the products/services provided by Papapa Payments can be accessed and purchased. Register to become a
									pay point Agent and start Agency payments services.</p>
								<p>An agent has access to an array of exciting commissions and incentives as they offer services like
									Bill Payment, Funds Transfer, Cash Deposits, Cash Withdrawals and Airtime Recharge to customers.</p>
							</div>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>

								<h2>Who is a P.I.A? </h2>
								<p>Any person, corporate or institution appointed by Papapa Payments Services to provide payments
									services on its behalf. Examples of potential agents are:</p>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="features-item">
								<div class="features">
									<div class="icon">
										<i class="icon-map icons"></i>
									</div>
									<div class="features-content">
										<h3>Individuals – unregistered MSMEs</h3>
									</div>
								</div>
								<div class="features">
									<div class="icon">
										<i class="icon-envelope-open icons"></i>
									</div>
									<div class="features-content">
										<h3>Registered SMEs</h3>
										<p>Registered SMEs e.g. Salons, chemist shops, grocery stores, etc.
											Corporate & Retail Chains e.g. filling stations, eateries, pharmacies, etc.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img class="img-responsive" src="img/img1.png" alt="">
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- Heading and para -->
						<div class="block-heading-two">
							<h3><span>What it takes to be an Agent?</span></h3>
						</div>
						<p>Interested investors must ensure they possess the following qualities and requirements:</p>
						<ol>
							<li>Must be able to read and write</li>
							<li>Must have a functional android enabled mobile phone</li>
							<li>Must have an existing physical shop/business outlet</li>
							<li>A completed Agent application form/agreement</li>
							<li>A copy of ID or equivalent (Driver’s license, National ID card, Int’l passport)</li>
							<li>A Passport-sized photograph</li>
							<li>Proof of Address (Utility bills e.g. PHCN, LAWMA)</li>
						</ol>
					</div>

					<div class="col-md-4">
						<div class="block-heading-two">
							<h3><span>Benefits of being an Independent Agent?</span></h3>
						</div>
						<ol>
							<li>Additional income/commission from services:- agents earn attractive commission for all transactions
								which is an additional income line to the agent’s business.</li>
							<li>Guaranteed volume of transactions due to our fast, convenient and reliable services.</li>
							<li>Good brand association.</li>
							<li>Guaranteed training and dedicated field support.</li>
							<li>Social relevance to the community.</li>
						</ol>

					</div>

					<div class="col-md-4">
						<div class="block-heading-two">
							<h3><span>What is the Agent Registration/Setup Process?</span></h3>
						</div>
						<ol>
							<li>Agent completes and submits Agent Registration Form/Agreement</li>
							<li>The location and human resource for the agent service are inspected and certified by an PIA Business
								support partner (BSP)</li>
							<li>The agent’s account is activated, Agent receives OTL (Online transaction ledger) and a effective
								communication platform.</li>
							<li>Agent undergoes training.</li>
							<li>Agent commences full operations.</li>
						</ol>
					</div>

				</div>

				<div class="row text-center">
					<div class="col-lg-5">
						<img src="img/flowchart.jpeg" alt="process flowchart">
					</div>
				</div>
			</div>


		</div>

	</div>
</section>

<%- include ('partials/footer') %>