<%- include ('partials/header') %>
<!-- end header -->
<section id="banner">

	<!-- Slider -->
	<div id="main-slider" class="flexslider">
		<ul class="slides">
			<li>
				<img src="img/slides/1.jpg" alt="flexslider" />
				<div class="flex-caption">
					<h3>Agency Banking</h3>
					<p>Best agency banking in Nigeria.</p>
				</div>
			</li>
			<li>
				<img src="img/slides/2.jpg" alt="flexslider" />
				<div class="flex-caption">
					<h3>Instant Settlement</h3>
					<p>Fast and reliable payments</p>
				</div>
			</li>
		</ul>
	</div>

	<!-- end slider -->

</section>
<section class="jumbobox">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h1 class="section-header">Services</h1>Here at Papapa we offer you flexibility and transparency in all your
					transactions and
					operations. We provide you with the best agency banking services and you can trust us to deliver each of the
					stated services below.
				</div>

			</div>
		</div>
	</div>
</section>


<section id="content">


	<div class="container">
		<div class="row">
			<div class="skill-home">
				<div class="skill-home-solid clearfix">
					<div class="col-md-6 text-center">
						<div class="box">
							<span class="icons c1"><i class="icon-settings icons"></i></span>
							<div class="box-area">
								<h3>POS Terminal</h3>
								<p>Say goodbye to endless delays from your bank in owning a POS for your business. Apply now and get
									your POS instantly</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 text-center">
						<div class="box">
							<span class="icons c2"><i class="icon-login icons"></i></span>
							<div class="box-area">
								<h3>Instant Settlement</h3>
								<p>We understand the frustration in having to wait days for your money for each business day and that's
									why we are offering you instant settlement.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>


<section class="hiring">

	<!-- Modal -->
	<div class="modal fade" id="hireImgModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<img class="image-popup-vertical-fit w-100" src="img/hiring.jpg" alt="hiring description image">
				</div>
			</div>
		</div>
	</div>
	<!-- content -->
	<div class="container">
		<div class="row">
			<h1 id="hiring-header" class="section-header">Want To Join Us?</h1>
			<div class="section-content">
				<div class="col-md-6">
					<img class="image-popup-vertical-fit w-100" id="hire_img" src="img/hiring.jpg" alt="hiring description image">
				</div>

				<div class="col-md-6">

					<h2>WE ARE HIRING!</h2>
					<p>Are you Dynamic and  Sales-oriented?<br>
						There is Vacancy for the following roles.<br>
						<b>No prior job experience required</b></p>

					<div id="fullJobDetails" class="hidden">
						<div class="job">
							<b>JOB ROLE :</b> Sales Executives(Business Support partner).<br>
							<b>LOCATION :</b> All States in Nigeria.<br>
							<b>QUALIFICATION :</b> Minimum OND/NCE in any field.<br>
							<b>HOW TO APPLY :</b> Apply by sending your Curriculum Vitae  to info@papapa.ng with your STATE OF RESIDENCE as SUBJECT of mail.. <br>
						</div>

						<div class="job">
							<b>JOB ROLE :</b> Agency Banking Paypoint  Agent.<br>
							<dt><b>LOCATION :</b> Lagos and Ogun States only.<br></dt>
							<ul>
								<li class="ml-3"><b>-Lagos State</b> (Ipaja,Ayobo, Igando, Aboru,Àbule Egba,Agbago ijaiye,Alakuko Abesan Estate,Ijanikin, Badagry,)</li>
								<li class="ml-3"><b>- Ogun State</b> (Ado Odo /Otta  ,Oju- ore, Ayetoro-Otta, Lafenwa,Iyana iyesi,ilogbo,Iyana Ilogbo Itori,Ifo,Sango )</li>
							</ul>
							<b>QUALIFICATION :</b> Minimum SSCE<br>
							<b>HOW TO APPLY :</b> Send<br>
							<ul>
								<li>*Name</li>
								<li>*Contact Address</li>
								<li>*Phone Number</li>
								<li>*Qualification</li>
								<li>*Date of Birth</li>
							</ul>
							to these phone numbers:
							<ul>
								<li>09066659581</li>
								<li>09063379689</li>
								<li>08095276820</li>
								<li>08126054602</li>
							</ul>
						</div>
						
					</div>

					<button class="btn" id="jobLinkBtn">Click to view full details</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="section-header">Our Testimonials</h1>
				<div>
					<span class="icons c1 prev btn"><i class="icon-arrow-left icons"></i></span>
					<span class="icons c1 next btn"><i class="icon-arrow-right icons"></i></span>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="testimonial-content">
				<span class="icons c1"><i class="icon-user icons"></i></span>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quo dolorum. Sint ipsam quae dignissimos
					cumque reiciendis excepturi laborum accusantium quidem nulla, beatae vel consectetur, facere quod asperiores
					voluptates sit!</p>
				<small class="author_name">- John Doe</small>
			</div>
			<div class="testimonial-content">
				<span class="icons c1"><i class="icon-user icons"></i></span>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quo dolorum. Sint ipsam quae dignissimos
					cumque reiciendis excepturi laborum accusantium quidem nulla, beatae vel consectetur, facere quod asperiores
					voluptates sit!</p>
				<small class="author_name">- John Doe</small>
			</div>
			<div class="testimonial-content">
				<span class="icons c1"><i class="icon-user icons"></i></span>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quo dolorum. Sint ipsam quae dignissimos
					cumque reiciendis excepturi laborum accusantium quidem nulla, beatae vel consectetur, facere quod asperiores
					voluptates sit!</p>
				<small class="author_name">- John Doe</small>
			</div>
			<div class="testimonial-content">
				<span class="icons c1"><i class="icon-user icons"></i></span>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quo dolorum. Sint ipsam quae dignissimos
					cumque reiciendis excepturi laborum accusantium quidem nulla, beatae vel consectetur, facere quod asperiores
					voluptates sit!</p>
				<small class="author_name">- John Doe</small>
			</div>
			<div class="testimonial-content">
				<span class="icons c1"><i class="icon-user icons"></i></span>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quo dolorum. Sint ipsam quae dignissimos
					cumque reiciendis excepturi laborum accusantium quidem nulla, beatae vel consectetur, facere quod asperiores
					voluptates sit!</p>
				<small class="author_name">- John Doe</small>
			</div>
		</div>
	</div>
</section> -->
<%- include ('partials/footer') %>