<%- include('partials/header') %>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Services</h2>
            </div>
        </div>
    </div>
</section>
<section id="content" class="marginbot30">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Our Quality Service</h2>
                    P.I.A is the trade name for Agent locations (Papapa Independent Agent). It’s a one-stop shop where
                    all the products/services provided by Papapa Payments can be accessed and purchased. We offer top notch agency banking services.
                </div>
                <br>
            </div>
        </div>
        <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-6 md-margin-bottom-40">
                <img class="img-responsive"
                    src="https://media.gettyimages.com/photos/man-paying-shopping-with-credit-card-pin-entry-in-the-supermarket-picture-id1195221759?k=6&m=1195221759&s=612x612&w=0&h=1bIUkp-NAM8HbjVMpcTiA-5z-qFhjwtnUD1cpa6GH1o="
                    alt="">
                <h3>POS Terminal</h3>
                <p>Become a POS owner for your business. Apply with just a few steps and own a POS in no time! It's
                    extremely fast and easy, Hurry now!</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive"
                    src="https://media.gettyimages.com/photos/young-woman-purchasing-coffee-picture-id170955646?k=6&m=170955646&s=612x612&w=0&h=ojtdK9-jKSpbpLRIIkH_vEmek1DAaT8z6yUdJto4kI8="
                    alt="">
                <h3>Instant Settlement</h3>
                <p>Get instant payment of all transactions made with your POS machine on a daily basis. No delays, hold
                    ups, apply for a withdrawal and get it instantly.</p>
            </div>
        </div>
        <!-- End Service Blcoks -->
    </div>
</section>
<%- include('partials/footer') %>